# Ignora o ambiente virtual local
bioinformatics_venv/
dev/__pycache__/

# Ignora todos os arquivos na pasta data
data/**

# Exceto os diretórios (estrutura)
!data/

!data/input/
!data/input/bed_files/
!data/input/crai_files/
!data/input/cram_files/
!data/input/ref_gen_files/

!data/intermediate/
!data/intermediate/bam_files/

!data/output/
!data/output/logs/
!data/output/reports/

# Permite arquivos .gitkeep
!data/.gitkeep

!data/input/.gitkeep
!data/input/bed_files/.gitkeep
!data/input/crai_files/.gitkeep
!data/input/cram_files/.gitkeep
!data/input/ref_gen_files/.gitkeep

!data/intermediate/.gitkeep
!data/intermediate/bam_files/.gitkeep

!data/output/.gitkeep
!data/output/logs/.gitkeep
!data/output/reports/.gitkeep
